@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .header_cus {
    border-color: #565656 #767676 #333333 #767676;
  }

  .custom_header_light {
    border-color: #9eb7e9 #a2bbed #b3c5e9;
  }

  @layer base {
    .dark {
      --color-bg-primary: #000000;
      --color-bg-secondary: #475569;
      --color-text-primary: #f8fafc;
      --color-text-secondary: #fef3c7;
      --color-text-accent: #5eead4;
      --color-hover-strong: #155e75;
      --color-hover-weak: #0e7490;
    }

    .light {
      --color-bg-primary: #f8fafc;
      --color-bg-secondary: #e2e8f0;
      --color-text-primary: #334155;
      --color-text-secondary: #0369a1;
      --color-text-accent: #6d28d9;
      --color-hover-strong: #a5f3fc;
      --color-hover-weak: #cffafe;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
      rgb(var(--background-start-rgb));
  }

  .switch_cus {
    @apply h-6 w-10 rounded-full bg-gray-200 after:absolute after:left-1 after:top-1 after:h-4 after:w-4 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary400 peer-checked:after:translate-x-full peer-checked:after:border-white dark:border-gray-600 dark:bg-gray-800;
  }
}
